<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  async function login() {
    axios.post('/users/login', {
      email: document.getElementById('email').value,
      password: document.getElementById('password').value,
    }, {
      headers: {
        "Content-Type": "application/json"
      }
    })
      .then((res) => {
            window.location.href = "/users/admin/home";
      })
    .catch((err) => {
      document.getElementById('loginError').innerHTML = 'These credentials do not match our records.';
      document.getElementById('passwordError').innerHTML = 'These credentials do not match our records.';    })
  }
</script>

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="text"
                                           class="form-control" name="email"
                                           required autocomplete="email" autofocus>

                                    <strong id="loginError" role="alert"></strong>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="text"
                                           class="form-control" name="password"
                                           required autocomplete="current-password">

                                    <span id="passwordError" class="invalid-feedback" role="alert">
                                                <strong></strong>
                                            </span>
                                    <span class="invalid-feedback" role="alert">
                                        <strong></strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" id="remember">

                                        <label class="form-check-label" for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary" onclick="login(); return false">
                                        Login
                                    </button>

                                    <a class="btn btn-link" href="/password/reset">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
