MS=1000
TOKEN_TTL=720 * 10
SECRET_KEY=4444

DB_USERNAME=newuser
DB_PASSWORD=password
DATABASE=banda
DB_HOST=localhost
DB_PORT=3306

PORT=3000
SECRET_KEY_SESSION=

MAX_LENGHT_BODY_POST=4294967294

EXPIRES_TIME=

BANDA_EMAIL=email@gmail.com
BANDA_EMAIL_PASSWORD=passsword
